/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 8px;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 8px;
}

body {
  font-size: 8px;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

/*********************************** var ********************************/
/*********************************general********************************/
body {
  background-color: #2C4065;
}

/*********************************** nav ********************************/
.navbar {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  font-family: "Inter", sans-serif;
  padding-top: 4rem;
  padding-left: 4rem;
}
.navbar img {
  height: 68px;
}
.navbar .nav-links {
  position: relative;
  right: 32px;
  padding-top: 25px;
  column-gap: 140px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.navbar .nav-links a {
  font-size: 2.5rem;
  font-weight: 400;
  color: #ffffff;
}
.navbar .nav-links a.active {
  color: #E2AC6C;
}

/**********************************hero banner********************************/
.heroBanner {
  margin-top: 25rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.heroBanner img {
  width: 390px;
  height: 338px;
}
.heroBanner .hero-text {
  font-family: "Inter", sans-serif;
  width: 40%;
}
.heroBanner .hero-text h1 {
  font-weight: 600;
  font-size: 6rem;
  color: #ffffff;
}
.heroBanner .hero-text > p {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: #ffffff;
}
.heroBanner .hero-text .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 7rem;
  background-color: #E2AC6C;
  color: #ffffff;
  font-size: 2.5rem;
}

/*********************************** about ********************************/
.about {
  background-image: url("../assets/graphics/courbe1.png");
  width: 100%;
  height: 1076px;
  background-size: cover;
}

/*********************************** caroussel ********************************/
.gallery {
  width: 100%;
  position: relative;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 400px;
  margin: 0 auto;
  max-width: 60%;
  position: relative;
}

.gallery-item {
  height: 150px;
  opacity: 0.4;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 150px;
  z-index: 0;
}

.gallery-item.gallery-item-selected {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  z-index: 2;
}

.gallery-item.gallery-item-previous,
.gallery-item.gallery-item-next {
  height: 200px;
  opacity: 1;
  width: 200px;
  z-index: 1;
}

.gallery-item.gallery-item-previous {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-next {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-first {
  left: 15%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-last {
  left: 85%;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  position: absolute;
  bottom: 38%;
  z-index: 10;
  width: 60%;
  left: 20%;
}

.gallery-controls button {
  border: 0;
  background: none;
  font-size: 6rem;
  cursor: pointer;
  margin: 0 20px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 2px;
  position: absolute;
  top: 0;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-previous:hover::before {
  left: -18px;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: "";
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-next:hover::before {
  right: -18px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 4px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
  border-radius: 15px;
  width: 35px;
  transition: all 0.5s;
}

/*# sourceMappingURL=style.css.map */
