.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 8rem;
  background-color: $gold;
  color: $white;
  font-weight: $fw-Regular;
  border-radius: 2rem;
  font-size: 3rem;

  & > p{
    color: $white;
    font-weight: $fw-Regular;
    font-size: 3rem;
  }
}