/*************************************import*******************************/
@import 'burger';
@import 'variables';
@import 'button';


/*********************************general********************************/
body{
  background-color: $mediumBlue;
}

h2{
  font-family: $font-inter;
  font-size: 5rem;
  font-weight: $fw-semiBold;
}

p{
  font-size: 2rem;
  font-weight: $fw-Regular;
  font-family: $font-inter;
}

*{
  color: $white;
}


input{
  border: none;
  color: $darkBlue;
  &:focus {
    outline: none;
  }
}

/*********************************** nav ********************************/

//burger button style in include/_button.scss


.navbar{
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  font-family: $font-inter;
  padding-top: 4rem;
  padding-left: 25px;
  padding-right: 25px;
  transition: all 1s;

  @media only screen and (max-width: 1200px){
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: $darkBlue;
    padding-bottom: 6rem;
    height: 30px;
  }

  .toggle{
    display: none;
    @media only screen and (max-width: 1200px){
      display: block;
    }

  }

  img{
    position: absolute;
    top: 25px;
    left: 20px;
  }

  img{
    height: 68px;
    @media only screen and (max-width: 1200px){
      display: flex;
      flex-direction: column;
    }
  }
  .nav-links{
    text-align: center;
    padding-top: 25px;
    justify-content: center;
    column-gap: 140px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    @media only screen and (max-width: 1200px){
      padding-top: 12rem;
      row-gap: 6rem;
      flex-direction: column;
      transform: translateY(-2000px);
    }

    a{
      font-size: 3rem;
      font-weight: $fw-Regular;
      color: $white;
    }
    a.active{
      color: $gold;
      font-weight: $fw-semiBold;
    }
  }

  .button-connecte{

    border: 2px solid $gold;
    background: none;
    height: 55px;
    width: 171px;
    margin-left: auto;
    p{
      color: $gold;
      font-weight: $fw-Regular;
    }

    @media only screen and (max-width: 1200px){
      margin-left: 0;
      margin-top: 10rem;
      transform: translateY(-2000px);

    }
  }

  .nav-element-translate-in{
    transform: translateY(0px)!important;
  }


}

.nav-translate-in{
  height: auto !important;
}


/**********************************hero banner********************************/

.heroBanner{

  margin-top: 25rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;

  @media only screen and (max-width: 1200px){
    margin-top: 10rem;
  }

  img{
    width: 20vw;
    height: 20vw;

    @media only screen and (max-width: 1200px){
      display: none;
    }
  }

  .hero-text{
    font-family: $font-inter;
    width: 40%;

    @media only screen and (max-width: 1200px){
      width: 80%;
    }


    h1{
      font-weight: 600;
      font-size: 6rem;
      color: $white;
    }
    & > p{
      font-size: 2rem;
      font-weight: $fw-Regular  ;
      margin-top: 4rem;
      margin-bottom: 12rem;
      color: $white;
    }
  }

  a{
    font-size: 25px;
  }

  svg {
    display: block;
    margin : 40px auto;
  }
}
/*********************************** about ********************************/
.about{
  background-image: url("../assets/graphics/courbe1.svg");
  width: 100%;
  height: 1076px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30rem;
  max-height: 600px;

  @media only screen and (max-width: 1600px){
    padding-top: 20rem;
  }
  @media only screen and (max-width: 1400px){
    background-color: $darkBlue;
    background-image: none;
    padding-top: 2rem;
  }
  @media only screen and (max-width: 1100px){
    max-height: none;
    height: auto;
    padding-bottom: 4rem;
  }

  img{
    @media only screen and (max-width: 1200px){
      max-width: 95%;
    }
  }

  .about-content{

    margin-right: 30rem;
    margin-left: 15rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    @media only screen and (max-width: 1100px){
      flex-direction: column;
      text-align: center;
      margin: 3rem auto;
    }

    .about-text {
      margin-left: 25rem;
      font-family: $font-inter;
      color: $white;

      @media only screen and (max-width: 1100px){
        margin: 3rem auto;
        max-width: 80%;
      }

      h2{
        margin-bottom: 10rem;
        text-align: left;
        @media only screen and (max-width: 1100px){
          text-align: center;
          margin-bottom: 4rem;
          margin-top: 5rem;
        }
      }

      h5{
        font-weight: $fw-semiBold;
        font-size: 3rem;
        margin-bottom: 4rem;
        @media only screen and (max-width: 1100px){
          margin-bottom: 6rem;
        }
      }

    }
  }
}


/************************************* valeurs *************************************/

.valeurs{

  h2{
    text-align: center;
    margin-top: 24rem;
    margin-bottom: 11rem;
  }

  .cards{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 12rem;

    .card{
      width: 390px;

      h5{
        font-family: $font-inter;
        font-size: 3rem;
        font-weight: $fw-semiBold;
        margin-top: 9rem;
        margin-bottom: 4rem;

        @media only screen and (max-width: 1100px){
          margin-top: 4rem;
        }
      }

      @media only screen and (max-width: 1100px){
        max-width: 90%;
      }

    }
  }
}


/********************************************** notre offre *******************************/

.our-offer{

  margin-top: 22rem;
  display: flex;
  justify-content: center;
  height: 800px;
  @media only screen and (max-width: 1100px){
    height: auto;

    .card{
      height: auto;
      padding-bottom: 4rem;

      @media only screen and (max-width: 880px) {
        border-radius: 0;
      }
    }
  }


  h2{
    margin-top: 10rem;
    text-align: center;
    color: $mediumBlue;
    font-weight: $fw-semiBold;
    font-size: 40px;
  }

  .our-offer-text{
    font-weight: $fw-Regular;
    max-width: 70%;
    text-align: center;
    margin: 80px auto;
  }

  p{
    color: $mediumBlue;
    font-weight: $fw-semiBold;
    text-align: center;
    font-size: 22px;
  }

  .button-subscribe{
    margin-left: auto;
    margin-right: auto;
    margin-top: 9rem;
    p{
      color: $white;
    }
  }

  & > div{
    height: 680px;
    width: 864px;
    background-color: $white;
    border-radius: 18px;
    text-align: center;

    & > div{
      display: flex;
      justify-content: center;
    }
  }

  .price{

    .main p{
      font-size: 160px;
    }

    .cents {
      font-size: 62px;

    }
    .frequency{
      font-size: 45px;
    }
  }
}

/****************  newslatter  subscribe form *********************************/

.newslatter{

  padding-bottom: 22rem;

  @media only screen and (max-width: 1000px){
    padding-bottom: 6rem;
  }



  h2{
    margin-top: 22rem;
    margin-bottom: 12rem;
    text-align: center;
    @media only screen and (max-width: 1000px){
      margin-bottom: 6rem;
    }
  }
  form{
    & > div{
      display: flex;
      justify-content: center;
      @media only screen and (max-width: 1100px){
        flex-direction: column;
      }
    }
    .email{
      position: relative;
      left: 2rem;
      border: none;
      height: 7.8rem;
      width: 645px;
      border-radius: 2rem;
      font-size: 3rem;
      padding-left: 3rem;
      font-weight: $fw-Regular;
      font-family: $font-inter;
      color: $txt-grey;
      margin-bottom: 4rem;

      @media only screen and (max-width: 1100px){
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
      }

    }
    .email::placeholder{
      font-weight: $fw-Regular;
      font-family: $font-inter;
      color: $txt-grey;
      opacity: 75%;
    }
    .newslatter-btn{
      position: relative;
      right: 2rem;
      @media only screen and (max-width: 1100px){
        margin: 3rem auto;
      }
    }

    label{
      @media only screen and (max-width: 1100px){
        position: absolute;
        left: 48%;
        margin-bottom: 1rem;
      }

    }
    .rgpd-check{
      display: flex;
      justify-content: center;
      column-gap: 2rem;
      margin-top: 2rem;

      @media only screen and (max-width: 1100px){
        margin: 3rem auto;
        max-width: 80%;
      }
    }
  }


  p{
    font-weight: $fw-Regular;
    font-family: $font-inter;
    color: $white;
    font-size: 2rem;
    text-align: center;
  }

  .check {
    cursor: pointer;
    position: relative;
    width: 24px;
    height: 24px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    transition: opacity 0.2s ease;

  }
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $white;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0) scale(1.3);;
    transition: all 0.2s ease;
  }
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  .check:hover:before {
    opacity: 1;
  }
  .check:hover svg {
    stroke: $gold;
  }
  #cbx:checked + .check svg {
    stroke: $gold;
  }
  #cbx:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  #cbx:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
}




/*********************************** caroussel ********************************/
.gallery {
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  position: relative;
  background-color: $darkBlue;

  @media only screen and (max-width: 1100px){
    display: none;
  }

}

h2 {
  font-style: normal;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-top: 12rem;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 600px;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  position: relative;
}

.gallery-item {
  height: 360px;
  opacity: .4;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 360px;
  z-index: 0;
}

.gallery-item.gallery-item-selected {
  height: 533px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 533px;
  z-index: 2;
}

.gallery-item.gallery-item-previous,
.gallery-item.gallery-item-next {
  height: 450px;
  opacity: 1;
  width: 450px;
  z-index: 1;
}

.gallery-item.gallery-item-previous {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-next {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-first {
  left: 15%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-last {
  left: 85%;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30%;
  z-index: 10;
  width: 95%;
  left: 3%;
  height: 300px;
}

.gallery-controls button {
  border: 0;
  background:none;
  font-size: 6rem;
  cursor: pointer;
  margin: 0 20px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  font-size: 80px;
}

.gallery-controls-previous::before {
  border: solid;
  border-width: 0 3px 3px 0;
  border-color: $gold;
  content: '';
  display: inline-block;
  height: 55px;
  position: relative;
  left: -10px;
  padding: 2px;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 55px;
}

.gallery-controls-previous:hover::before {
  left: -18px;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid;
  border-width: 0 3px 3px 0;
  content: '';
  display: inline-block;
  height: 55px;
  padding: 2px;
  position: relative;
  top: 40px;
  right: -10px;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 55px;
  border-color: $gold;
}

.gallery-controls-next:hover::before {
  right: -18px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 15px;
  height: 6px;
  margin: 0 4px;
  width: 20px;
}

.gallery-nav li.gallery-item-selected {
  background: $gold;
  border-radius: 15px;
  width: 35px;
  transition: all 0.5s;
}


/************************************ footer *********************************************/

footer{
  height: 320px;
  width: 100%;
  background-color: $darkBlue;
  padding: 0 100px;
  box-sizing: border-box;

  @media only screen and (max-width: 1500px){
    padding: 0;
  }


  .footer-wrapper{
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: $darkBlue;
    align-items: end;
    padding: 0 100px;
    box-sizing: border-box;

    @media only screen and (max-width: 1500px){
      padding: 0 2rem;
    }
    @media only screen and (max-width: 1000px){
      padding: 0 2rem;
      flex-direction: column;
      justify-items: center;
      justify-content: center;
      align-items: center;
    }
  }

  img{
    width: 144px;
    height: 64px;
    position: relative;
    top: 20px;
  }

  .footer-links{
    text-align: center;
    padding-top: 25px;
    justify-content: center;
    column-gap: 140px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    @media only screen and (max-width: 1000px){
      display: none;
    }

    a{
      font-size: 3rem;
      font-weight: $fw-Regular;
      font-family: $font-inter;
      color: $white;
    }
    a.active{
      color: $gold;
      font-weight: $fw-semiBold;
    }
  }

  .social-network{
    display: flex;
    column-gap: 2rem;
    position: relative;
    top: 40px;
    margin-bottom: 6rem;
    align-items: end;
    img{
      height: 42px;
      width: 42px;
    }
  }
  .contact{
    & > p{
      text-align: center;
      font-size: 3rem;
      position: relative;
      top: 40px;
      @media only screen and (max-width: 1000px){
        top: 8rem;
      }
    }
  }

  .copyright{
    display: block;
    text-align: center;
    margin : 0px auto;
    margin-top:  100px;
    font-size: 2rem;
    a{
      font-size: 2rem;
      color: $white;
      text-decoration: underline;
    }
  }

}

