/*********************************** var ********************************/

$font-inter: 'Inter', sans-serif;


$white: #ffffff;
$gold: #E2AC6C;
$mediumBlue: #2C4065;
$darkBlue: #122040;
$txt-grey: #7A7A7A;

$fw-Regular: 400;
$fw-semiBold: 600;

